body{
	margin:0px;
	margin-top: 100px;
	background-color: #939693;
}

#gif{
	position: relative;
	left:25%;
}

#back{
	cursor:pointer;
	position:absolute;
	font-size: 24px;
	background-color: orange;
	border-radius: 6px;
	border-color: black;
	top:85%;
	left:42%;
	height:8.23%;
	width: 14.93%
}
