body{
	margin:0px;
	margin-top: 100px;
	background-color: #939693;
}

#back{
	cursor:pointer;
	position:absolute;
	font-size: 24px;
	background-color: orange;
	border-radius: 6px;
	border-color: black;
	top:77%;
	left:43%;
	height:8.23%;
	width: 14.93%
}

#difficulty{
	position:absolute;
	top:7%;
	left:44%;
	color:white;
	font-size: 50px;
	text-align: center;
	word-spacing: 10px;
	line-height: 60px;
	font-family:"Comic sans MS";
}
#ez{
	cursor: pointer;
	position: absolute;
	font-family:"Comics Sans MS", cursive, sans-serif;
	font-size: 24px;
	border-radius: 6px;
	border-color: black;
	background-color: orange;
	top:40%;
	left:32.73%;
	height:6.33%;
	width: 10.053%;
}
#med{
	cursor: pointer;
	position: absolute;
	font-family:"Comics Sans MS", cursive, sans-serif;
	font-size: 24px;
	border-radius: 6px;
	border-color: black;
	background-color: orange;
	top:40%;
	left:44.73%;
	height:6.33%;
	width: 10.053%;
}
#hard{
	cursor: pointer;
	position: absolute;
	font-family:"Comics Sans MS", cursive, sans-serif;
	font-size: 24px;
	border-radius: 6px;
	border-color: black;
	background-color: orange;
	top:40%;
	left:56.73%;
	height:6.33%;
	width: 10.053%;
}
